{% extends 'base.html' %}

{% block title %}Edit {{ user.full_name }}{% endblock %}}

{% block content %}

<h1>Edit User</h1>

<form method="POST">
    <section>
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" value="{{user.first_name}}">
    </section>
    <section>
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" value="{{user.last_name}}>
    </section>
    <section>
        <label for="image_url">Image URL</label>
        <input type="text" id="image_url" value="{{user.image_url}}>
    </section>
    <section>
        <button type="submit">Update User</button>
    </section>
</form>

{% endblock %}